<!DOCTYPE html>
<html>
<head>
  <title>Lajuanita</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div align="center" style="position:absolute; overflow:hidden; left:0px; top:0px; visibility:visible;z-index:1">
    <b>
       <img src="/images/INDEX.jpg">
    </b>
</div>

<form action="/home/historia" >
    <div align="center" style="position:absolute; overflow:hidden; left:700px; top:880px; visibility:visible;z-index:2">
        <b>
           <%= image_submit_tag "rails.png", :name => "luzon",
              :onmouseover => "this.src='/assets/railsc.png'", 
              :onmouseout => "this.src='/assets/rails.png'"%>
        </b>
    </div>
</form >
<form action="/home/informacion" >
    <div align="center" style="position:absolute; overflow:hidden; left:800px; top:880px; visibility:visible;z-index:2">
        <b>
           <%= image_submit_tag "rails.png", :name => "luzon",
              :onmouseover => "this.src='/assets/railsc.png'", 
              :onmouseout => "this.src='/assets/rails.png'"%>
        </b>
    </div>
</form >
<form action="/home/casa" >
    <div align="center" style="position:absolute; overflow:hidden; left:900px; top:880px; visibility:visible;z-index:2">
        <b>
           <%= image_submit_tag "rails.png", :name => "luzon",
              :onmouseover => "this.src='/assets/railsc.png'", 
              :onmouseout => "this.src='/assets/rails.png'"%>
        </b>
    </div>
</form >
<form action="/home/multimedia" >
    <div align="center" style="position:absolute; overflow:hidden; left:1000px; top:880px; visibility:visible;z-index:2">
        <b>
           <%= image_submit_tag "rails.png", :name => "luzon",
              :onmouseover => "this.src='/assets/railsc.png'", 
              :onmouseout => "this.src='/assets/rails.png'"%>
        </b>
    </div>
</form >
<form action="/home/imagenes" >
    <div align="center" style="position:absolute; overflow:hidden; left:1100px; top:880px; visibility:visible;z-index:2">
        <b>
           <%= image_submit_tag "rails.png", :name => "luzon",
              :onmouseover => "this.src='/assets/railsc.png'", 
              :onmouseout => "this.src='/assets/rails.png'"%>
        </b>
    </div>
</form >
<%= yield %>



</body>
</html>
